extends ../../layouts/default

block head
    title events

block body

    each event,i in data
        h3 #{event.name}
        p #{event.description}
        a.btn.btn-default(href='/events/show/#{event._id}') Learn More



